<h1>{{data.title}}</h1>

{{#if message.success}}
    <div class="success notice">
        <p>
            {{ message.success}}
        </p>
    </div>
{{/if}}

<form method='POST' action="/product/{{data.product.id}}" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="{{data.method}}">


    <input name="name" type="text" placeholder="Name" value="{{ data.product.name }}">
    <input name="price" type="text" placeholder="Price" value="{{ data.product.price }}">
    <input name="image" type="text" placeholder="Image" value="{{ data.product.image }}">
    <textarea name="description" placeholder="Description">{{ data.product.description }}</textarea>
    <button type="submit">Submit</button>
</form>
